In [1]:
import pandas as pd
import numpy as np

In [2]:
from os import listdir
from os.path import isfile, join

In [3]:
from os import listdir
from os.path import isfile, join

file_paths = [r"C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1"]

files = []

for filepath in file_paths:
    files_1 = [f for f in listdir(filepath) if isfile(join(filepath, f))]
    files_1 = [join(filepath, f) for f in files_1 if f.endswith(".csv") and f.startswith("202")]
    files.extend(files_1)

len(files)

10

In [4]:
master_df_list = []

In [5]:
# iterate over each file and drop the unwanted columns
for file_name in files:
    data = pd.read_csv(file_name)
    temp = data[data["failure"] == 1]
    master_df_list.append(temp[["serial_number", "model"]])
    print("{} added to master_list".format(file_name))

C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1\2023-01-01.csv added to master_list
C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1\2023-01-02.csv added to master_list
C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1\2023-01-03.csv added to master_list
C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1\2023-01-04.csv added to master_list
C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1\2023-01-05.csv added to master_list
C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1\2023-01-06.csv added to master_list
C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1\2023-01-07.csv added to master_list
C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1\2023-01-08.csv added to master_list
C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1\2023-01-09.csv added to master_list
C:\Users\dell 1\Desktop\Prediction-of-Hard-Drive-Failure-master\short_data_Q1\2023-01-10.csv added to master_list

In [6]:
# generate a master data frame to have all the data
print("concat started")
master_df = pd.concat(master_df_list, sort=False)
print("concat complete")
master_df.shape

concat started
concat complete

(85, 2)

In [7]:
count_df = master_df.groupby(["model"]).agg({'model':'count'})
count_df.columns = ["failure count"]
count_df['model'] = count_df.index
count_df = count_df.sort_values(by="failure count", ascending=False)
count_df.reset_index(drop=True, inplace=True)
count_df

    failure count                                   model
0              18                           ST12000NM0008
1              17                             ST4000DM000
2              13                            ST8000NM0055
3               9                     TOSHIBA MG07ACA14TA
4               4                           ST16000NM001G
5               3                             ST8000DM002
6               2                    HGST HUH721212ALN604
7               2                           ST12000NM001G
8               2                           ST14000NM001G
9               2                     TOSHIBA MG08ACA16TE
10              1  Seagate BarraCuda 120 SSD ZA250CM10003
11              1                          WDC WD5000LPVX
12              1                     TOSHIBA MQ01ABF050M
13              1                      TOSHIBA MQ01ABF050
14              1                     TOSHIBA MG08ACA16TA
15              1                          CT250MX500SSD1
16              1                              ST500LM030
17              1                    HGST HUH721212ALE604
18              1                           ST14000NM0138
19              1                           ST14000NM0018
20              1                           ST12000NM0007
21              1                           ST10000NM0086
22              1                     WDC WUH721816ALE6L4

In [8]:
count_df.to_csv("failed_count2.csv")